.table-content{
	display: flex;
	justify-content: center;
	margin: 20px 0px;
}

table.table{
	display: block;
	border-collapse: collapse;
	border: 0px;
	padding: 10px;
}

.theader{
	background-color: black;
	color: white;
	font-size: 15px;
}

.column{
	width: 100px;
	padding: 10px;
	border: 0px;
}

.table-rows{
	padding: 10px;
	text-align: center;
}

.btn-delete{
    background-color: red;
}

.btn-delete:hover{
    background-color: rgb(255, 59, 59);
}

/* search bar */
.search-content{
	display: block;
	margin: 0 auto;
	margin-top: 100px;
	width: fit-content;
}
.search-info{
	display: inline;
	text-align: center;
	background-color: black;
	color: white;
	width: 100px;
	padding: 8px 20px;
	border-radius: 10px 0 0 10px;
}
.search-input{
	display: inline;
	background-color: rgb(236, 236, 236);
	border-radius: 0 10px 10px 0;
	padding: 9px 20px;
	width: 20em;
	margin-left: 0;
}